<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login/Register Slide</title>
    <link rel="stylesheet" href="../assets/css/auth.css">
    <script type="module" src="../assets/js/guard/login.guard.js"></script>
</head>

<body>
    <div class="container login" id="container">
        <div class="form-container" id="form-container">
            <h2 id="formTitle">Login</h2>
            <form action="form" id="form">
                <input id="email" type="text" placeholder="Email">
                <input id="password" type="password" placeholder="Password">
                <input id="btnSign" type="submit" value="SIGN IN">
            </form>
            <div id="containerToggle">
            </div>
        </div>
        
        <div class="image-container">
            <img id="img"
            src="https://res.cloudinary.com/dd7vy0y6n/image/upload/f_auto,q_auto/v1755644602/back-login_vtle9y.jpg"
            alt="cover">
            <p>From the field to your table</p>
        </div>
    </div>

<script type="module" src="../assets/js/auth.js"></script>
<script type="module" src="../assets/js/login.js"></script>
<script type="module" src="../assets/js/register.js"></script>
</body>

</html>