<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Charset y Viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página -->
    <title>GreenPath - dashboard</title>
    <meta name="description" content="GreenPath Market es una solución innovadora...">
    <meta name="keywords" content="GreenPath Market, comercio rural...">
    <meta name="author" content="Juan Cardona, Forlan Ordoñez...">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="theme-color" content="#ffffff">
    <link rel="shortcut icon" href="https://res.cloudinary.com/dd7vy0y6n/image/upload/...">
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/dd7vy0y6n/image/upload/q_auto,f_auto/v1755730260/1000251053_jyonaf.png"
        type="image/x-icon">
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/card.css">
    <link rel="stylesheet" href="../assets/css/dashboard.css">
    <script src="https://kit.fontawesome.com/0b06eaa0c3.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <div class="icons">
            <div class="logo">
                <a>
                    <img src="https://res.cloudinary.com/dd7vy0y6n/image/upload/q_auto,f_auto/v1755732479/1000251390_brue4v.png"
                        width="190" alt="logo">
                </a>
            </div>
        </div>
        <div class="container-nav-search">
            <!-- Navbar -->
            <nav class="navbar">
                <a href="./admin.html"><i class="fa-solid fa-user-tie"></i></a>
                <a href="./my_shop.html"><i class="fa-solid fa-shop"></i></a>
                <a href="./shopping_car.html"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="./offers.html"><i class="fa-solid fa-tag"></i></a>
                <a href="./profile.html"><i class="fa-solid fa-user"></i></a>
                <!-- Search -->
                <div class="container-search">
                    <input id="searchInput" type="text" placeholder="Buscar">
                    <div class="btn" onclick="window.buscar && window.buscar()">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
                <i id="btnLogout" class="fa-solid fa-right-from-bracket"></i>
            </nav>
        </div>
    </header>

    <main>
        <div id="resultados" class="search-results"></div>
        <section id="best-section">

        </section>
        <h2>CATEGORIAS</h2>
        <section id="category-section" class="category">
            <div class="category-item">
                <div class="category-label-container">
                    <span class="category-label">TODAS</span>
                </div>
            </div>
            <div class="category-item">
                <img src="../assets/img/category/frutas y verduras.jpg" alt="frutas y verduras">
                <div class="category-label-container">
                    <img class="category-icon" src="../assets/icons/logo_pequeño.webp" alt="icono frutas y verduras">
                    <span class="category-label">FRUTAS Y VERDURAS</span>
                </div>
            </div>
            <div class="category-item">
                <img src="../assets/img/category/granos y cereales.jpg" alt="granos y cereales">
                <div class="category-label-container">
                    <img class="category-icon" src="../assets/icons/logo_pequeño.webp" alt="icono granos y cereales">
                    <span class="category-label">GRANOS Y CEREALES</span>
                </div>
            </div>
            <div class="category-item">
                <img src="../assets/img/category/queso y huevos.jpg" alt="lacteos y dererivados">
                <div class="category-label-container">
                    <img class="category-icon" src="../assets/icons/logo_pequeño.webp" alt="icono lacteos y derivados">
                    <span class="category-label">LACTEOS Y DERIVADOS</span>
                </div>
            </div>
            <div class="category-item">
                <img src="../assets/img/category/res, pollo y pescado.jpg" alt="res, pollo y pescado">
                <div class="category-label-container">
                    <img class="category-icon" src="../assets/icons/logo_pequeño.webp" alt="icono res, pollo y pescado">
                    <span class="category-label">RES, POLLO Y PESCADO</span>
                </div>
            </div>
        </section>

        <!-- Contenedor para resultados de búsqueda -->

        <h2>PRODUCTOS <span id="current-category-label"></span></h2>
        <section id="card-section" id="productform"></section>
    </main>

    <script type="module" src="../assets/js/dashboard.js"></script>
    <script type="module" src="../assets/js/guard/global.guard.js"></script>
    <script type="module" src="../assets/js/guard/dashboard.guard.js"></script>
    <script type="module" src="../assets/js/search.js"></script>
    <script type="module" src="../assets/js/logout.js"></script>

</body>

</html>