<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Charset y Viewport -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Título de la página -->
    <title>GreenPath - dashboard</title>
    <!-- Descripción SEO -->
    <meta name="description"
        content="GreenPath Market is an innovative solution aimed at rural-area merchants. Its main goal is to strengthen the local economy by providing a digital space where producers can sell their goods directly, without intermediaries. All that's required is to create a seller account, through which they can list and offer their products on the platform.">
    <meta name="keywords"
        content="GreenPath Market, rural commerce, local economy, digital marketplace, JavaScript, CSS, seller platform, direct trade, producers, agro marketplace">
    <!-- Información del sitio -->
    <meta name="author" content="Juan Cardona, Forlan Ordoñez, Daniel Rojas, Camilo Parra, Wilson Delgado">
    <meta name="designer" content="Forlan Ordoñez, Juan Cardona">
    <meta name="organization" content="BugHunters">
    <meta name="sitedomain" content="https://github.com/juanscr24/greenpath_market">
    <meta name="copyright" content="© 2025 juanscr24. All rights reserved">
    <!-- Robots y rastreadores -->
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <!-- Apariencia del navegador -->
    <meta name="theme-color" content="#ffffff">
    <!-- Favicon -->
    <link rel="shortcut icon"
        href="https://res.cloudinary.com/dd7vy0y6n/image/upload/q_auto,f_auto/v1755730260/1000251053_jyonaf.png"
        type="image/x-icon">
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/navbar.css">
    <link rel="stylesheet" href="../assets/css/card.css">
    <link rel="stylesheet" href="../assets/css/dashboard.css">
    <script src="https://kit.fontawesome.com/0b06eaa0c3.js" crossorigin="anonymous"></script>
</head>

<body>

    <header>
        <div class="icons">
            <div class="logo">
                <a href="./dashboard.html">
                    <img src="https://res.cloudinary.com/dd7vy0y6n/image/upload/q_auto,f_auto/v1755732479/1000251390_brue4v.png"
                    width="190" alt="logo">
                </a>
            </div>
        </div>
        <div class="container-nav-search">
            <!-- Navbar -->
            <nav class="navbar">
                <a href="./admin.html"><i class="fa-solid fa-user-tie"></i></a>
                <a href="./shopping_car.html"><i class="fa-solid fa-cart-shopping"></i></a>
                <a href="./offers.html"><i class="fa-solid fa-tag"></i></a>
                <a href="./profile.html"><i class="fa-solid fa-user"></i></a>
                <i id="btnLogout" class="fa-solid fa-right-from-bracket"></i>
                <!-- Search -->
                <div class="container-search">
                    <input id="searchInput" type="text" placeholder="Buscar">
                    <div class="btn" onclick="window.buscar && window.buscar()">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <main>
        <div id="resultados" class="search-results"></div>
        <section id="best-section">
            
        </section>
        <h1>CATEGORIES</h1>
        <section id="category-section">
            <div class="category"></div>
            <div class="category"></div>
            <div class="category"></div>
            <div class="category"></div>
            <div class="category"></div>
            <div class="category"></div>
        </section>
        <!-- slide y demas cosas -->

        <!-- Contenedor para resultados de búsqueda -->

        <h1>PRODUCTS</h1>
        <section id="card-section" id="productform">
            <article class="card">
                <!-- Imagen ahora en HTML -->
                <img src="../assets/img/leche.jpg" alt="Producto" class="card-img">

                <!-- Degradado -->
                <div class="overlay"></div>

                <!-- Contenido -->
                <div class="content">
                    <h2>Queso</h2>
                    <div class="price">
                        <h3>20 L</h3>
                        <h3>$39,970</h3>
                    </div>
                    <p>
                        vendido por: <strong>Carulla</strong>
                    </p>
                </div>

                <!-- Botón -->
                <a href="#" class="swipe-btn">
                    <span>Agrega al carrito</span>
                    <div class="arrows">
                        <span>›</span><span>›</span>
                    </div>
                </a>
            </article>

            <article class="card">
                <!-- Imagen ahora en HTML -->
                <img src="../assets/img/leche.jpg" alt="Producto" class="card-img">

                <!-- Degradado -->
                <div class="overlay"></div>

                <!-- Contenido -->
                <div class="content">
                    <h2>Queso</h2>
                    <div class="price">
                        <h3>20 L</h3>
                        <h3>$39,970</h3>
                    </div>
                    <p>
                        vendido por: <strong>Carulla</strong>
                    </p>
                </div>

                <!-- Botón -->
                <a href="#" class="swipe-btn">
                    <span>Agrega al carrito</span>
                    <div class="arrows">
                        <span>›</span><span>›</span>
                    </div>
                </a>
            </article>

            <article class="card">
                <!-- Imagen ahora en HTML -->
                <img src="../assets/img/leche.jpg" alt="Producto" class="card-img">

                <!-- Degradado -->
                <div class="overlay"></div>

                <!-- Contenido -->
                <div class="content">
                    <h2>Queso</h2>
                    <div class="price">
                        <h3>20 L</h3>
                        <h3>$39,970</h3>
                    </div>
                    <p>
                        vendido por: <strong>Carulla</strong>
                    </p>
                </div>

                <!-- Botón -->
                <a href="#" class="swipe-btn">
                    <span>Agrega al carrito</span>
                    <div class="arrows">
                        <span>›</span><span>›</span>
                    </div>
                </a>

                
            </article>
            <article class="card">
                <!-- Imagen ahora en HTML -->
                <img src="../assets/img/leche.jpg" alt="Producto" class="card-img">

                <!-- Degradado -->
                <div class="overlay"></div>

                <!-- Contenido -->
                <div class="content">
                    <h2>Queso</h2>
                    <div class="price">
                        <h3>20 L</h3>
                        <h3>$39,970</h3>
                    </div>
                    <p>
                        vendido por: <strong>Carulla</strong>
                    </p>
                </div>

                <!-- Botón -->
                <a href="#" class="swipe-btn">
                    <span>Agrega al carrito</span>
                    <div class="arrows">
                        <span>›</span><span>›</span>
                    </div>
                </a>
            </article>
            <article class="card">
                <!-- Imagen ahora en HTML -->
                <img src="../assets/img/leche.jpg" alt="Producto" class="card-img">

                <!-- Degradado -->
                <div class="overlay"></div>

                <!-- Contenido -->
                <div class="content">
                    <h2>Queso</h2>
                    <div class="price">
                        <h3>20 L</h3>
                        <h3>$39,970</h3>
                    </div>
                    <p>
                        vendido por: <strong>Carulla</strong>
                    </p>
                </div>

                <!-- Botón -->
                <a href="#" class="swipe-btn">
                    <span>Agrega al carrito</span>
                    <div class="arrows">
                        <span>›</span><span>›</span>
                    </div>
                </a>
            </article>
        </section>
    </main>

    <!-- <button id="btnLogout">Cerrar sesión</button> -->

    <script type="module" src="../assets/js/search.js"></script>
    <script type="module" src="../assets/js/guard/dashboard.guard.js"></script>
    <script type="module" src="../assets/js/logout.js"></script>
    <script type="module" src="../assets/js/addProduct.js"></script>
</body>

</html>