<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/login.css">
    <title>login</title>
    <script type="module" src="../assets/js/guard/login.guard.js"></script>
</head>

<body>
    <div class="login-container">
        <div class="img-container">
            <img src="https://res.cloudinary.com/dd7vy0y6n/image/upload/f_auto,q_auto/v1755644602/back-login_vtle9y.jpg"
                alt="loginimg" id="imgLogin">
            <p>From the field to your table</p>
            <button id="btnUp"><a href="../views/register.html">Sign Up</a></button>
        </div>

        <form action="">
            <h1>Sign In</h1>
            <input id="userName" type="text" placeholder="U S E R N A M E">
            <input id="password" type="password" placeholder="P A S S W O R D">
            <input id="btnSign" type="button" value="S I G N   I N">
            <p>OR</p>
            <div class="containerIcons">
                <img src="../assets/icons/facebook.png" alt="">
                <img src="../assets/icons/google.png" alt="">
            </div>
        </form>
    </div>
    <script type="module" src="../assets/js/login.js"></script>
</body>

</html>