<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/register.css">
    <title>login</title>
    <script type="module" src="../assets/js/guard/login.guard.js"></script>
</head>

<body>
    <div class="login-container">
        
        <form action="">
            <h1>Register</h1>
            <input id="userName" type="text" placeholder="F U L L   N A M E">
            <input id="userName" type="text" placeholder="D O C U M E N T   T Y P E">
            <input id="userName" type="text" placeholder="E M A I L">
            <input id="userName" type="text" placeholder="U S E R N A M E">
            <input id="password" type="password" placeholder="P A S S W O R D">
            <input id="password" type="password" placeholder="P A S S W O R D   A G A I N">
            <input id="userName" type="text" placeholder="A D D R E S S">
            <input id="btnSign" type="button" value="R E G I S T E R">
            <p>OR</p>
            <div class="containerIcons">
                <img src="../assets/icons/facebook.png" alt="">
                <img src="../assets/icons/google.png" alt="">
            </div>
        </form>
        <div class="img-container">
            <img src="https://res.cloudinary.com/dd7vy0y6n/image/upload/f_auto,q_auto/v1755644601/back-register_uiimdr.jpg"
                alt="loginimg" id="imgLogin">
            <p>From the field to your table</p>
            <button id="btnUp"><a href="../views/login.html">Sign In</a></button>
        </div>
    </div>
    <script type="module" src="../assets/js/login.js"></script>
</body>

</html>