@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#best-section {
    height: 400px;
    background-color: white;
    margin-bottom: 1rem;
    border-radius: 20px;
}

#card-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
}






