* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: url(https://res.cloudinary.com/dd7vy0y6n/image/upload/v1756341679/fondo-de-textura-de-hoja-verde_1_pvcpge.jpg);
    background-color: #000000c7;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    backdrop-filter: blur(10px); /* Aplica el desenfoque al fondo */
    background-color: rgba(14, 146, 10, 0.4); /* Verde semi-transparente */
    border: 1px solid rgba(9, 58, 12, 0.2);
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.8rem 2rem;
    margin: 1rem;
    border-radius: 20px;
    width: 77%;

    z-index: 1000;
}

.navbar {
    display: flex;
    gap: 30px;
    align-items: center;
}

.navbar i {
    color: white;
    gap: 20px;
    font-size: 20px;
    transition: ease-in-out 0.5s;
}

.navbar i:hover {
    color: lightgray;
}

#btnLogout {
    cursor: pointer;
}


/* Contenedor íconos + nav + search */
.container-nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/* Search Box */
.container-search {
    display: flex;
    align-items: center;
    position: relative;
}

.container-search input {
    font-family: "Poppins", sans-serif;
    outline: none;
    height: 40px;
    width: 0;
    padding: 0 20px;
    color: #383838;
    border-radius: 50px;
    font-size: 16px;
    border: none;
    background: #dddddd;
    transition: width 0.5s ease;
}

.container-search .btn {
    width: 40px;
    height: 40px;
    background: #1b561b;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-left: -40px; /* se superpone */
    transition: background 0.3s ease;
}

.container-search .btn:hover {
    background: rgba(10, 250, 22, 0.74);
}

/* Animación*/
.container-search:hover input {
    width: 330px;
    margin-right: 0px;
}

.container-search i {
    display: flex;
    align-items: center;
    justify-content: center;
}
